@{
    ViewData["Title"] = "Create Routine";
}
<script src="~/js/pages/Routines/createRoutines.js" defer></script>
<link rel="stylesheet" href="~/css/routines.css" />
<div>
    <h2>Crear Rutina</h2>
    <form class="form-group" id="createRoutineForm" action="submit">
        <div class="divInterno">
            <label for="name">Exercise Name</label>
            <input type="text" id="exercisename" name="exercisename" class="form-control" required>
        </div>
        <div class="divInterno">
            <label for="description">Exercise Type</label>
            <input type="text" id="exercisetype" name="exercisetype" class="form-control" required>
        </div>
        <div class="divInterno">
            <label for="country">Sets</label>
            <input type="text" id="sets" name="sets" class="form-control" required>
        </div>
        <div class="divInterno">
            <label for="popularity">Weight</label>
            <input type="text" id="weight" name="weight" class="form-control" required>
        </div>
        <div class="divInterno">
            <label for="popularity">Time Duration</label>
            <input type="text" id="timeduration" name="timeduration" class="form-control" required>
        </div>
        <div class="divInterno">
            <label for="popularity">Machine</label>
            <input type="text" id="machine" name="machine" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>

    </form>
</div>
