@{
    ViewData["Title"] = "Create Routine";
    Layout = "../Shared/_LayoutRoutines.cshtml";
}
<script src="~/js/pages/Routines/createRoutines.js" defer></script>
<link rel="stylesheet" href="~/css/routines.css" />

    <div class="container">
        <main>
            <h1>Create Routine</h1>
            <div class="form-container">
                <form id="createRoutineForm" action="submit">
                    <label for="exercise-name">Instructor Name</label>
                    <input type="text" id="instructor_name" name="instructor_name">

                    <label for="exercise-name">Exercise Name</label>
                    <input type="text" id="exercise_name" name="exercise_name">

                    <label for="exercise-type">Exercise Type</label>
                    <input type="text" id="exercise_type" name="exercise_type">

                    <label for="sets">Sets</label>
                    <input type="text" id="sets" name="sets">

                    <label for="weight">Weight</label>
                    <input type="number" id="weight" name="weight">

                    <label for="time">Time Duration</label>
                    <input type="text" id="time_duration" name="time_duration">

                    <label for="machine">Machine</label>
                    <input type="text" id="machine" name="machine">

                    <div class="button-container">
                        <button type="submit">Create</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
