@{
    ViewData["Title"] = "Create Routine";
    var apiBaseUrl = "https://localhost:7280/api/Routine/CreateRoutine"; // Reemplaza esta URL con la correcta para tu API

} 
<script>
    const API_BASE_URL = "@apiBaseUrl";

</script>
<script src="~/js/pages/Routine/createRoutines.js" defer></script>
        <div class="logo">
            <img src="" alt="Alternate Text" />
        </div>
        
        <nav>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Routines</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </nav>
    <div>
        <h2>Create Routine</h2>
        <form class="form-group" id="createRoutineForm" action="submit">
            <div class="divInterno">
                <label for="exercise_name">Exercise Name</label>
            <input type="text" id="exercise_name" name="exercise_name" class="form-control" required>
            </div>
            <div class="divInterno">
            <label for="exercise_type">Exercise Type</label>
            <input type="text" id="exercise_type" name="exercise_type" class="form-control" required>
            </div>
            <div class="divInterno">
                <label for="sets">Sets</label>
                <input type="text" id="sets" name="sets" class="form-control" required>
            </div>
            <div class="divInterno">
                <label for="weight">Weight</label>
                <input type="text" id="weight" name="weight" class="form-control" required>
            </div>
            <div class="divInterno">
                <label for="time_duration">Time</label>
                <input type="text" id="time_duration" name="time_duration" class="form-control" required>
            </div>
            <div class="divInterno">
                <label for="machine">Machine</label>
                <input type="text" id="machine" name="machine" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>

        </form>
    </div>

