@{
    ViewData["Title"] = "Record Results";
}

<h2>Record Results for Routine</h2>

<!-- Aquí puedes agregar el formulario o la interfaz para registrar los resultados de los ejercicios -->

<script src="~/js/pages/Routines/recordResults.js"></script>
