@{
    ViewData["Title"] = "Routines History";
    Layout = "../Shared/_LayoutRoutines.cshtml";
}
<link rel="stylesheet" href="~/css/routinesHistory.css" />
<script src="~/js/pages/Routines/routineHistory.js" defer></script>

<div>
    <h2>Routines</h2>
    <div class="d-flex justify-content-around align-items-center">
        <button class="btn btn-primary" id="searchAllBtn">List All</button>
    </div>

    <table id="routineTable" class="display">
        <thead>
            <tr>
                <th>Instructor Name</th>
                <th>Exercise Name</th>
                <th>Exercise Type</th>
                <th>Sets</th>
                <th>Weight</th>
                <th>Time Duration</th>
                <th>Machine</th>
            </tr>
        </thead>
    </table>
</div>
