@{
    ViewData["Title"] = "Routines History";
    Layout = "../Shared/_LayoutRoutines.cshtml";
}
<link rel="stylesheet" href="~/css/routinesHistory.css" />
<script src="~/js/pages/Routines/routineHistory.js" defer></script>

<div class="container">
    <h1>Routines</h1>
    <button class="btn-list-all">List All</button>
    <table id="exerciseTable">
        <thead>
            <tr>
                <th>Instructor Name</th>
                <th>Exercise Name</th>
                <th>Exercise Type</th>
                <th>Sets</th>
                <th>Weight</th>
                <th>Time Duration</th>
                <th>Machine</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas se llenarán dinámicamente -->
        </tbody>
    </table>
</div>
