@{
    ViewData["Title"] = "Routines History";
    Layout = "../Shared/_LayoutRoutines.cshtml";
}
<body>
    <div class="container">
        <main>
            <h1>Routines History</h1>
            <div class="routine-list">
                <div class="routine-card">
                    <h2>Routine 1</h2>
                    <p><strong>Instructor name:</strong></p>
                    <p><strong>Sets:</strong></p>
                    <p><strong>Exercises List:</strong></p>
                    <p><strong>Weight:</strong></p>
                </div>
                <div class="routine-card">
                    <h2>Routine 1</h2>
                    <p><strong>Instructor name:</strong></p>
                    <p><strong>Sets:</strong></p>
                    <p><strong>Exercises List:</strong></p>
                    <p><strong>Weight:</strong></p>
                </div>
                <div class="routine-card">
                    <h2>Routine 1</h2>
                    <p><strong>Instructor name:</strong></p>
                    <p><strong>Sets:</strong></p>
                    <p><strong>Exercises List:</strong></p>
                    <p><strong>Weight:</strong></p>
                </div>
                <div class="routine-card">
                    <h2>Routine 1</h2>
                    <p><strong>Instructor name:</strong></p>
                    <p><strong>Sets:</strong></p>
                    <p><strong>Exercises List:</strong></p>
                    <p><strong>Weight:</strong></p>
                </div>
                <div class="routine-card">
                    <h2>Routine 1</h2>
                    <p><strong>Instructor name:</strong></p>
                    <p><strong>Sets:</strong></p>
                    <p><strong>Exercises List:</strong></p>
                    <p><strong>Weight:</strong></p>
                </div>
                <div class="routine-card">
                    <h2>Routine 1</h2>
                    <p><strong>Instructor name:</strong></p>
                    <p><strong>Sets:</strong></p>
                    <p><strong>Exercises List:</strong></p>
                    <p><strong>Weight:</strong></p>
                </div>
            </div>
        </main>
    </div>
</body>
