@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap">

<div class="container">
    <main role="main" class="pb-3 center-content">
        <div>
            <h1>YOUR FITNESS JOURNEY STARTS TODAY.</h1>
            <p>READY FOR YOUR FIRST CLASS?</p>
            <img src="/css/Img/LogoFitnessCenter.png" alt="Logo" class="logo">
        </div>
    </main>
</div>

