@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap">


    <main role="main" class="pb-3 center-content">
        <div class="container pb-3 center-content">
            <h1>YOUR FITNESS JOURNEY STARTS TODAY.</h1>
            <p>READY FOR YOUR FIRST CLASS?</p>
            
        </div>
        <div class="container center-content">
            <img src="/css/Img/background.png" alt="Bacground" class="">
        </div>
    </main>



