@{
    ViewData["Title"] = "Member Page";
    Layout = "../Shared/_LayoutExercises.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Get Your Membership Here!</h1>
</div>

<div class="text-center">
    <p>Schedule your Measurement appointment <a asp-controller="Equipment" asp-action="Equipments">Schedule your Appointment here.</a></p>
</div>