@{
    ViewData["Title"] = "Member Page";
    Layout = "../Shared/_LayoutRoutines.cshtml";
}

<link rel="stylesheet" href="~/css/routines.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap">

<div class="text-center">
    <h1 class="display-4">Get Your Membership Here!</h1>
</div>
