@{
    ViewData["Title"] = "Trainer Page";
    Layout = "../Shared/_LayoutRoutineExercise.cshtml";
}

<link rel="stylesheet" href="~/css/routines.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap">



<div class="container">
    <main>
        <h2>Welcome Trainer!</h2>
        <div class="form-container">
           
        </div>
    </main>
</div>


