.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Lora', serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    text-align: center;
}

button {
    background-color: #1e4f4f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    button:hover {
        background-color: #143b3b;
    }

select {
    color: black; /* Asegúrate de que el color de texto sea visible */
    background-color: white; /* Asegúrate de que el fondo sea blanco */
}

option {
    color: black; /* Asegúrate de que el color del texto de las opciones sea visible */
    background-color: white; /* Asegúrate de que el fondo de las opciones sea blanco */
}
