
.container {

    padding: 20px;
    margin: 0 auto;
    background: #E0E0E0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.center-content {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: black; /* Un rojo vibrante */
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: black; /* Un color amarillo suave */
}

.logo {
    width: 350px;
    height: auto;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

    .logo:hover {
        transform: scale(1.1);
    }

.pb-3 {
    padding-bottom: 1rem;
}
