@{
    ViewData["Title"] = "Register User";
    Layout = "../Shared/_LayoutUser.cshtml";
}
<script src="~/js/Pages/User/RegisterUser.js" defer></script>
<link rel="stylesheet" href="~/css/users.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap">

<div class="container">
    <main>
        <h1 class="display-4">Create an Account</h1>
        <div class="form-container">
            <form id="registerUserForm" action="submit">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" class="form-control" required />

                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" class="form-control" required />

                <label for="username">Username</label>
                <input id="username" type="text" class="form-control" required />

                <label for="email">Email</label>
                <input id="email" type="text" class="form-control" required />

                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" required />

                <label for="phoneNumber">Phone Number</label>
                <input id="phoneNumber" type="number" class="form-control" required />

                <label for="birthDate">Birthdate</label>
                <input id="birthDate" type="datetime-local" class="form-control" required />

                <label for="profileImage">Profile image</label>
                <input id="profileImage" type="file" class="form-control" required />

                <label for="idImage">ID image</label>
                <input id="idImage" type="file" class="form-control" required />

                <div class="button-container">
                    <button type="submit" class="btn btn-success" id="btnCreate">CREATE ACCOUNT</button>
                </div>
            </form>
        </div>
    </main>
</div>

