@{
    ViewData["Title"] = "Reset Password Rquest";
}

<script src="~/js/Pages/User/ResetPasswordRequest.js" defer></script>

<div>
    <p>< <a asp-area="" asp-controller="User" asp-action="Login">Back To Log In.</a></p>
</div>

<div class="text-center">
    <h1 class="display-4">Reset your Password</h1>
    <p class="strong">for your Fitness Center Account.</p>
</div>

<div class="form-group">
    <div class="text-center">
        <p>Enter your email address below, a message will be sent to reset your password.</p>
    </div>
    <form class="frmUser" id="resetPasswordForm">
        <div>
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" required />
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-success" id="btnResetPassword">RESET PASSWORD</button>
        </div>
    </form>
</div>