@{
    ViewData["Title"] = "Reset Password Request";
    Layout = "../Shared/_LayoutRequest.cshtml";

}

<script src="~/js/Pages/User/ResetPasswordRequest.js" defer></script>
<link rel="stylesheet" href="~/css/users.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap">

<div class="container">

    <main>
        <h1 class="display-4">Reset Your Password</h1>

        <p>Enter your email address below, a message will be sent to reset your password.</p>

        <div class="form-container">
            <form id="resetPasswordRequestForm" action="submit">
                <label for="email">Email</label>
                <input id="email" type="text" class="form-control" required />

                <div class="button-container">
                    <button type="submit" class="btn btn-success" id="btnResetPassword">RESET PASSWORD</button>
                </div>
            </form>
        </div>
    </main>
</div>