@{
    ViewData["Title"] = "Reset Password";
    Layout = "../Shared/_LayoutUser.cshtml";

}

<script src="~/js/Pages/User/ResetPassword.js" defer></script>
<link rel="stylesheet" href="~/css/users.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap">

<div class="container">
    <main>
        <h1 class="display-4">Enter Your New Password</h1>
        <div class="form-container">
            <form id="resetPasswordForm" action="submit">
                <label for="password">New Password</label>
                <input id="newPassword" type="password" class="form-control" required />

                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" type="password" class="form-control" required />

                <div class="button-container">
                    <button type="submit" class="btn btn-success" id="btnResetPassword">RESET PASSWORD</button> 
                </div>
            </form>
        </div>
    </main>
</div>

