@{
    ViewData["Title"] = "Admin Page";
    Layout = "../Shared/_LayoutUser.cshtml";
}

<link rel="stylesheet" href="~/css/admin.css" />



<div class="background-container">
    <h2>Admin Page</h2>
    <p>Welcome, Administrator!</p>

    <a href="@Url.Action("AssignRole", "Admin")" class="btn btn-primary">
        Go to Assign Roles
    </a>

    <a href="@Url.Action("ManageUser", "Admin")" class="btn btn-secondary">
        Manage Users
    </a>
</div>
