@{
    ViewData["Title"] = "Manage Users";

    Layout = "../Shared/_LayoutUser.cshtml";

}


<script src="~/js/Pages/Admin/ManageUser.js" defer></script>

<link rel="stylesheet" href="~/css/manageUser.css" />

<h2>Manage Users</h2>

<!-- Barra de búsqueda -->
<div class="form-group">
    <input type="text" id="searchInput" class="form-control" placeholder="Search by name or username...">
</div>

<table class="table" id="usersTable">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Birthdate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Las filas se generarán dinámicamente desde el JavaScript -->
    </tbody>
</table>

