/* Estilos para el encabezado */
header {
    background-color: #1e4f4f; /* Color de fondo del encabezado */
    color: #FFFFFF; /* Color del texto dentro del encabezado */
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    position: relative; /* Necesario para el posicionamiento de elementos internos */
}

/* Contenedor para los elementos de la barra de navegación */
.navbar-content {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%;
    max-width: 1200px; /* Ajusta según el ancho deseado */
}

/* Estilos para el logo de la marca */
.navbar-brand {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra el texto dentro del contenedor */
    text-align: center; /* Centra el texto */
    margin: 0 auto; /* Asegura que el elemento se centre horizontalmente */
}

/* Estilos para el texto de la marca */
.brand-text {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra el texto dentro del contenedor */
}

.brand-top {
    font-size: 1.5em; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold; /* Ajusta el peso de la fuente según sea necesario */
    color: #FFFFFF; /* Asegura que el color del texto sea blanco */
}

/* Estilos para los enlaces de navegación */
.navbar-links {
    display: flex;
    color: #000000 !important; /* Color del texto, asegura que el texto sea blanco */
    text-decoration: auto; /* Sin subrayado */
    background-color: #E0E0E0; /* Color de fondo del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados */

}

.nav-link:hover {
    background-color: #C0C0C0; /* Color de fondo en el hover */
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
