/* Estilo de la barra de navegación */
header {
    background-color: #1e4f4f;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.logo {
    width: 100px; /* Tamaño del logo */
    height: auto;
    margin-right: 20px;
}

nav {
    display: flex;
    gap: 20px;
    margin-left: auto; /* Mueve los enlaces de navegación a la derecha */
}

    nav a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        nav a img {
            height: 30px; /* Ajuste de tamaño de los íconos */
            margin-bottom: 5px;
        }

        nav a:hover {
            color: #C0C0C0;
            text-decoration: underline;
        }

/* Footer */
.footer {
    background-color: #1e4f4f;
    color: white;
    padding: 20px 0;
    text-align: center;
}

    .footer a {
        color: #C0C0C0;
        text-decoration: none;
    }

        .footer a:hover {
            text-decoration: underline;
        }

